
Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

оценка 2 и меньше - низкий рейтинг
оценка 4 и меньше - средний рейтинг
оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class.

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv')
rate = pd.read_csv('ratings.csv')
joined = rate.merge(movies, on='movieId', how='left')
joined.head(1)

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy

[1 rows x 6 columns]

In [4]:
def movies_rating(param):
    if param <= 2.0:
        return 'Низкий рейтинг'
    elif param <= 4.0:
        return 'Средний рейтинг'
    elif param >= 4.5:
        return 'Высокий рейтинг'

In [5]:
joined['class'] = joined.rating.apply(movies_rating)

joined.head()

   userId  ...            class
0       1  ...  Средний рейтинг
1       1  ...  Средний рейтинг
2       1  ...  Средний рейтинг
3       1  ...  Высокий рейтинг
4       1  ...  Высокий рейтинг

[5 rows x 7 columns]

Задание 2

Используем файл keywords.csv. Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'. Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [7]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

fd = pd.read_csv('keywords.csv')
fd.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [8]:
def find_region(column):
    for key, value in geo_data.items():
        for element in value:
            if element in column:
                return key
    return 'undefined'

fd['region'] = fd.keyword.apply(find_region)
fd.head(2)

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined

In [9]:

fd.region.value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Задание 3 (бонусное)
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

Важно! При копировании юпитер ноутбука изменяет кавычки ’ на ` , что может способствовать ошибки в коде. В данной ситуации необходимо их просто заменить.

In [ ]:
rating_source = rate.merge(movies, on='movieId', how='left')
rating_source.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       1  ...                               Comedy|Romance
2       1  ...                        Action|Crime|Thriller
3       1  ...                             Mystery|Thriller
4       1  ...                       Crime|Mystery|Thriller

[5 rows x 6 columns]

In [ ]:
years = [year for year in range(1950, 2011)]

In [ ]:
def production_year(column):
    for year in years:
        if str(year) in column:
            return year
    return '1900'

In [ ]:
rating_source['year'] = rating_source.title.apply(production_year)
rating_source.head()

   userId  movieId  ...                                       genres  year
0       1        1  ...  Adventure|Animation|Children|Comedy|Fantasy  1995
1       1        3  ...                               Comedy|Romance  1995
2       1        6  ...                        Action|Crime|Thriller  1995
3       1       47  ...                             Mystery|Thriller  1995
4       1       50  ...                       Crime|Mystery|Thriller  1995

[5 rows x 7 columns]

In [ ]:
group_by_rating = rating_source.groupby('year')

In [ ]:
group_by_rating.mean()[['rating']].sort_values('rating', ascending=False).head(10)

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293
1964  3.940160
1974  3.935622
1967  3.922572
1975  3.879121
1958  3.842424