Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')        
movies = pd.read_csv('movies.csv')

best_movies = ratings[ ratings.rating == 5.0 ].groupby('movieId').count().sort_values('rating', ascending=False)
best_movie = best_movies.filter(items = ['movieId', 'rating'])
best_movie = best_movies.rename(columns={'rating': 'Num_of_5*'}, inplace=True)

print('Фильм с наибольшим количеством оценок 5.0')
joined.filter(items = ['movieId', 'title','Num_of_5*']).head(1)

Фильм с наибольшим количеством оценок 5.0

   movieId                             title  Num_of_5*
0      318  Shawshank Redemption, The (1994)        153

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
power = pd.read_csv('power.csv')

In [7]:
baltic_countries = power[ (power['country']=='Estonia') | (power['country']=='Latvia') | (power['country']=='Lithuania') ]
category_filter = baltic_countries[ (baltic_countries['category']==4) | (baltic_countries['category']==12) | (baltic_countries['category']==21)]
year_filter = category_filter[ (category_filter['year'] >= 2005) & (category_filter['year'] <= 2010)]
quantity_filter = year_filter[ (year_filter['quantity']) >= 0 ]
total_quantity = quantity_filter['quantity'].sum()

print('Суммарное потребление:', total_quantity)

quantity_filter.sort_values('quantity', ascending=True).head()

Суммарное потребление: 240580.0

          country  year  quantity  category
218600  Lithuania  2010       0.0      21.0
218602  Lithuania  2008       0.0      21.0
19855     Estonia  2007       0.0       4.0
218601  Lithuania  2009       0.0      21.0
204643     Latvia  2009       0.0      21.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): 
- https://fortrader.org/quotes 
- https://www.finanz.ru/valyuty/v-realnom-vremeni

In [8]:
frame = pd.read_html('https://fortrader.org/quotes')[1]

frame.head(4)

                              Название    Цена  ...  Изменение(%)  Обновлено
0       Нефть Brent Курс нефти сегодня   71.73  ...         -0.31        NaN
1          Нефть WTI Цены на нефть WTI   69.49  ...         -0.33        NaN
2  Природный газ Цена на природный газ    3.08  ...         -0.96        NaN
3                                 Кофе  159.65  ...         -1.18        NaN

[4 rows x 5 columns]

In [9]:
pd.read_html('https://fortrader.org/quotes')[5].head(7)

  Название      Цена   Изменение Изменение(%)  Обновлено
0     FXIT  10 215.0       -19.0         -0.2        NaN
1     FXRU     942.1        +0.3         +0.0        NaN
2     FXDE   3 165.0  нет данных   нет данных        NaN
3     FXCN   3 820.0       -78.5         -2.0        NaN
4     FXGD    929.00       +0.60        +0.06        NaN
5     FXWO    1.8188     -0.0012      -0.0659        NaN